#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border: 2px rgb(105, 101, 101) solid;
  margin: 2px;
}

#board {
  border: 2px lightblue solid;
  background-color: aliceblue;
  border-radius: 12%;
  padding: 10px;
  margin: 10px;
}
#theGame {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* background-color: rgb(228, 243, 243);
  border-radius: 12%; */
}
#addPerson {
  margin-bottom: 30px;
  position: fixed;
  top: 15px;
  left: 460px;
  /* left: 20px; */
}
